<div class="header">
    <div class="nav-menu">
        <div class="container">
            <div class="row">
                <div class="col-2 col-md-2"> <a href="https://tandhost.com.br">  <img src="assets/images/logo.png" alt="Cubo" class="logo-menu"> </a> </div>
                <nav class="col-10 col-md-10">
                        <ul class="main-menu navbar-right">
                            <a class="menu-selection active" href="#">Home</a>
                            <a class="menu-selection" href="#">Menu 1</a>
                            <a class="menu-selection" href="#">Menu 2</a>
                            <a class="menu-selection" href="#">Menu 3</a>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
   
   

