.header {
    background-color: #fff;
    height: 93px;
}

.logo-menu {
    width: 120px;
    padding-top: 10px;
}

.main-menu {
    font-family: Myriad Pro;
    display: inline-block;
    font-size: 13.5px;
    padding-top: 17px;
    padding-bottom: 5px;
}

.menu-selection {
    margin-right: 41px;
    text-transform: uppercase;
    color: #868686;

}

.menu-selection:hover {
    text-decoration: none;
    transition: .5s;
    color: #000;
}

.active {
    background-color: #e76924;
    padding: 12px 22px 8px 22px;
    border-radius: 2px;
    color: #fff;
}

.active:hover {
    background-color: #f68f57;
    padding: 12px 22px 8px 22px;
    border-radius: 2px;
    color: #fff;
    transition: .5s background;

}

.hambuger-menu {
    position:relative;
    margin-left: 10px;
}

@media screen and (max-width: 600px) {
.main-menu {
    font-size: 12.5px;
}

}
