<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <div class="row">
            <div class="col-2 col-md-2"> <a href="#">  <img src="assets/images/logo.png" alt="Cubo" class="logo-menu"> </a></div>
        </div>
        
  <button class="hambuger-menu navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">

            <div class="collapse navbar-menu navbar-collapse" id="navbarNavAltMarkup">
                <div class="main-menu navbar-right">
                    <a class="menu-selection active" href="#">Home</a>
                    <a class="menu-selection" href="#">Menu 1</a>
                    <a class="menu-selection" href="#">Menu 2</a>
                    <a class="menu-selection" href="#">Menu 3</a>
                </div>
            </div>
        </div>
    </div>
</nav>