<div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block slider-img animated bounceInLeft" src="assets/images/slide1.png" alt="First slide">
            <div class="container">
                <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6">
                    <div class="slider-1  animated bounceIn">
                        <h2>Lorem ipsum dolor</h2>
                        <p>Aenean ultrices ultricies vulputate. Donec ut pulvinar ipsum. Maecenas tincidunt lorem at enim pharetra hendrerit vivamus in elemene. </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block slider-img animated bounceInLeft" src="assets/images/slide2.png" alt="First slide">
            <div class="container">
                <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6">
                    <div class="slider-2 animated bounceIn">
                        <h2>Lorem ipsum dolor</h2>
                        <p>Aenean ultrices ultricies vulputate. Donec ut pulvinar ipsum. Maecenas tincidunt lorem at enim pharetra hendrerit vivamus in elementum nisi. </p>
                        <button type="button" class="btn btn-outline-secondary btn-leia">LEIA MAIS</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block slider-img animated bounceInLeft" src="assets/images/slide3.png" alt="First slide">
            <div class="container">
                <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6">
                    <div class="slider-3 animated bounceIn">
                        <h2 class="text-center">AEnc donec ut en</h2>
                        <h2 class="text-center">tempor accor ol</h2>
                        <h3 class="text-center"> eges yaci</h3>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
    <ol class="text-center carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="carousel-circle active"></li>
        <li data-target="#carousel" data-slide-to="1" class="carousel-circle"></li>
        <li data-target="#carousel" data-slide-to="2" class="carousel-circle"></li>
    </ol>
</div>