<div class="form-home">
    <div class="container">
        <div class="text-center">
            <h1 class="service-title">CADASTRE-SE</h1>
            <p class="service-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
        </div>
        <div class="container">
            <div class="row">




                <div class="col-md-2 col-xl-3">
                    <div class="input-form inner-addon left-addon">
                        <span class="input-icon"><i class="fa fa-user"></i></span>
                        <input id="nome" type="text" class="form-control" name="nome" placeholder="Nome">
                    </div>
                </div>
                <div class="col-md-2 col-xl-3">
                    <div class="input-form inner-addon left-addon">
                        <span class="input-icon"><i class="fa fa-envelope"></i></span>
                        <input id="email" type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="col-md-2 col-xl-3">
                    <div class="input-form inner-addon left-addon">
                        <span class="input-icon"><i class="fa fa-phone"></i></span>
                        <input id="telefone" type="text" class="form-control" name="Telefone" placeholder="Telefone">
                    </div>
                </div>
                <div class="col-md-2 col-xl-3">
                    <div class="input-form">
                        <button type="button" class="btn btn-enviar">Enviar</button>
                    </div>
                </div>








            </div>
        </div>