<div class="py-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 order-lg-2">
                <div class="row about-us align-items-center">


                    <h2 class="about-heading">Sobre nós</h2>

                    <p class="about-lead">In sit amet mi sollicitudin, maximus risus sed, eleifend turpis. Ut aliquet fermentum leo eu vestibulum. Aliquam vitae iaculis neque. Proin vitae quam ac lectus fermentum viverra. Vestibulum eu sem lobortis, rhoncus purus in, mattis augue. Proin nec tempor ipsum. Sed eu libero at arcu dictum rhoncus. Vestibulum at tempus felis. Vestibulum mattis tincidunt eleifend.In sit amet mi sollicitudin, maximus risus sed, eleifend turpis. Ut aliquet fermentum leo eu vestibulum. Aliquam vitae iaculis neque. Proin vitae quam ac lectus fermentum viverra. Vestibulum eu sem lobortis, rhoncus purus in, mattis augue. Sed eu libero at arcu dictum rhoncus. Vestibulum at tempus felis. Vestibulum mattis tincidunt eleifend.</p>

                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="circle-padding">
                                    <div class="circle1">
                                        <div class="circle-inner">
                                            <div class="circle-text">18%</div>
                                        </div>
                                        <p class="about-subtitle">Percentual</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="circle-padding">
                                    <div class="circle2">
                                        <div class="circle-inner">
                                            <div class="circle-text">12:00</div>
                                        </div>
                                        <p class="about-subtitle">Hora</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="circle-padding">
                                    <div class="circle3">
                                        <div class="circle-inner">
                                            <div class="circle-text">R$350</div>
                                        </div>
                                        <p class="about-subtitle">Valor</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 order-lg-1 px-0 py-9">
                <div class="bg-container overlay overlay-10" style="background-image: url(../../../assets/images/about-us.png)"></div>
            </div>
        </div>
    </div>
</div>