<div class="container-fluid">

    <div class="about-us">
    <div class="row ">
        <div class="col-md-6">
        <div class="image-about">
            <img class="img-about" src="assets/images/about-us.png">
        </div>
                </div>
        <div class="col-md-6">
           
            <h2 class="about-heading">First featurette heading.</h2>
            <p class="about-lead">In sit amet mi sollicitudin, maximus risus sed, eleifend turpis. Ut aliquet fermentum leo eu vestibulum. Aliquam vitae iaculis neque. Proin vitae quam ac lectus fermentum viverra. Vestibulum eu sem lobortis, rhoncus purus in, mattis augue. Proin nec tempor ipsum. Sed eu libero at arcu dictum rhoncus. Vestibulum at tempus felis. Vestibulum mattis tincidunt eleifend.In sit amet mi sollicitudin, maximus risus sed, eleifend turpis. Ut aliquet fermentum leo eu vestibulum. Aliquam vitae iaculis neque. Proin vitae quam ac lectus fermentum viverra. Vestibulum eu sem lobortis, rhoncus purus in, mattis augue. 
 Sed eu libero at arcu dictum rhoncus. Vestibulum at tempus felis. Vestibulum mattis tincidunt eleifend.</p>
       
               <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-6"><div class="mini-box">               <div id="sellPerCirc" class="perCirc">
    <div class="perCircInner">
        <div class="perCircStat">0%</div><div>Complete</div>
    </div>
</div></div></div>
                <div class="col-xs-6"><div class="mini-box">               <div id="sellPerCirc" class="perCirc">
    <div class="perCircInner">
        <div class="perCircStat">0%</div><div>Complete</div>
    </div>
</div></div></div>
                <div class="col-xs-6"><div class="mini-box">               <div id="sellPerCirc" class="perCirc">
    <div class="perCircInner">
        <div class="perCircStat">0%</div><div>Complete</div>
    </div>
</div></div></div>
               
            </div>
        </div>
    
       
       
       

               
               
               
               
               
               

        </div>
        

    </div>
</div>