<div class="padding-60-30 text-center">
    <h1 class="service-title">Serviços</h1>
    <p class="service-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
</div>


<div class="container align-content-center">
    <div class="">
    <div class="row">
        <div class="col-lg-1">
            <img class="icon-service" src="../../../assets/images/icon4.png">
         </div>
        <div class="col-lg-5">
            <h2 class="service-h2">rhoncus purus in</h2>
            <p class="service-p">Donec sit amet erat ut quam dignissim bibendum porta enim, ut acor tempor felis diam non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        </div>
     <div class="col-lg-1">
            <img class="icon-service" src="../../../assets/images/icon2.png">
         </div>
        <div class="col-lg-5">
            <h2 class="service-h2">mattis augue tristique</h2>
            <p class="service-p">Donec sit amet erat ut quam dignissim bibendum porta enim, ut acor tempor felis diam non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        </div>
         </div>
        
            
    <div class="row">
        <div class="col-lg-1">
            <img class="icon-service" src="../../../assets/images/icon3.png">
         </div>
        <div class="col-lg-5">
            <h2 class="service-h2">elementum lacus vitae</h2>
            <p class="service-p ">Donec sit amet erat ut quam dignissim bibendum porta enim, ut acor tempor felis diam non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        </div>
     <div class="col-lg-1">
            <img class="icon-service" src="../../../assets/images/icon1.png">
         </div>
        <div class="col-lg-5">
            <h2 class="service-h2">Mauris bibendum odio ligula</h2>
            <p class="service-p">Donec sit amet erat ut quam dignissim bibendum porta enim, ut acor tempor felis diam non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        </div>
         </div>
           </div>     
             </div>