<div class="padding-100 text-center">
    <h1 class="service-title">Services</h1>
    <p class="service-subtitle">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
</div>


<div class="container d-flex justify-content-center align-content-center">
    <div class="">
    <div class="row">
        <div class="col-lg-1">
            <i class="icon-service fa fa-american-sign-language-interpreting fa-3x"> </i>
         </div>
        <div class="col-lg-5">
            <h2 class="service-h2">Heading</h2>
            <p class="service-p">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
     <div class="col-lg-1">
            <i class="icon-service fa fa-american-sign-language-interpreting fa-3x"> </i>
         </div>
        <div class="col-lg-5">
            <h2 class="service-h2">Heading</h2>
            <p class="service-p">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
         </div>
        
            
    <div class="row">
        <div class="col-lg-1">
            <i class="icon-service fa fa-american-sign-language-interpreting fa-3x"> </i>
         </div>
        <div class="col-lg-5">
            <h2 class="service-h2">Heading</h2>
            <p class="service-p ">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
     <div class="col-lg-1">
            <i class="icon-service fa fa-american-sign-language-interpreting fa-3x"> </i>
         </div>
        <div class="col-lg-5">
            <h2 class="service-h2">Heading</h2>
            <p class="service-p">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
         </div>
           </div>     
             </div>