<div class="padding-60-30 padding-top-h text-center">
    <h1 class="service-title">Como funciona?</h1>
</div>

<div class="container">
    <svg class="marketing-img" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="728px" height="128px" viewBox="0 0 728 128" enable-background="new 0 0 728 128" xml:space="preserve">  <image id="image0" width="728" height="128" x="0" y="0"
    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAtgAAACACAMAAAAGT+6EAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAACoFBMVEUAAACZwDyZwDyZwDyZ
wDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZ
wDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZ
wDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZ
wDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZ
wDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZ
wDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZ
wDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZ
wDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZ
wDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZ
wDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZ
wDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZ
wDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDyZwDwAAABA4DScAAAA3nRSTlMAGYUkOdhaOvB1Jclk
BmUmKQRR9WF0i1P+ejv0eD+ZSrUYw2MHg14OFQ8JN6gw6W+UM8BDHgg4+IfRTyPulye9S1h+K4Jt
ZyLxiBoBYgIN7Wqz5pvvHEaa3hQDPZ7fIMpwfY5oXT4xsC6NZhP85IwbIU5/EJKBChKW9wzr3bKQ
oyxVik1XcXIWNHvPQtW/NVy53AVBsc1IqtmJoWv9Kqbjk5Ut9gvXovPSuKugt/m7wnet4tCsp24d
r/s84YYX8jbbQBGYL6nszL7TyFKRhOCPRdbHfLx2UESfy3lpxGwEngOWAAAAAWJLR0QAiAUdSAAA
AAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+MBFQcYDIhBj2YAAAXJSURBVHja7dz5V9RVGMfx
x5JQDANxwQ2XShYVQ0VSkFxyYwTJRGUSpTRDQUBQEB3LJUvNzEodl6zM1MxSK9uz0txazfb1/i0N
A5bnaEfE+d6HmXm/fpmRM3Of+7nno3wZmRFpplY33SytI26RyDZtJardrRLd/rbmLgX8S69XMbHS
Ia6jdDKdpUt8V+nWvYf0jE+QXqa39Ol7u/a5IFip9irmDulo7pQucf0ksX2SSHLj11vFSkrb/hIZ
P0AGpg7SPiIEG+1edTB3SdrgIf//gKHpMizjbmk9fIT2USGIqPYqM2ukZN8z6toPjBUZbcbI2HuT
r/1YhD3dXo0bLxMmTmr643NcMtJMFles7WNCUNHtVa7kxU+57mf1yc+T+6Ym2ToiBB3tXt0/rUCm
pzXrqTNmFkpkjsPng+Ck2iv3A+kyq6jwBlaYbeY4eToISuq9KjYP3mCE2IfmSp956YE/GwQx3V49
nCbzHykJQIwFZmHAjwZBS7tXpWWLApQku7xC+lcG7GAQ1HR7lbw4VqpuCVya6rKZgVsMQUu9V0vM
vIAGci0tFldNQJdEENLtVW2tdJsR+Fegl9UF4sIKQUu7V8tXOHPZ0MmT7ci6CA7qvXKvfNSpbFGP
rXJqabR0ur2aH7HawWzjzRoHV0fLpdEr99rL/vC4WefgBmLXJkphroMD0HKo96r1xEtvvln1RLQ8
6XDc9WVLHJ6AlkG9VxvMxpSGe73NU47HLdi0wfEZaAnUe/W0MTMa7m1e57aR2D26ouFO2mIb46BD
u1cpGcaYZ0S2PPucpcTPm63+22TPMksTYZ96r6b75pvuMbJtuJW/Vj7p5dv9t16zw9JE2Kfeq531
GzCbalwui6kLq3Ik3ze2wOJMWKXeq23+DZhdVlPvNmvm1/mm9rM6FRZp96r2hYYNGKufdZPYY88O
+7Fhj3qvujTON3F2f0XpRf/Ql6zOhD3qvdo+6eWEhBler3frXpsXQwsbY/OBfyEqTHv1yr7GDcxV
2gBCknavXt1/6RuVV/soEELUe3XAHMzKWuHxeF47pH0WCCH0CgAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgyr5s2WVmpHo9n
+CHtrQCBk+wxjbzaW0FoqtqZkJBw2Ov1vtHB5ti0NxuLPV77ABCajlz6p/Oo2+rccY1jo7QPAKHp
WGPBUnMsD37LP/Zt7fwIUesbel02xPbg6pn1cw9r50eIyp3iL/YYy2Nr3ylfX3+ZPU87P0LV8fpe
b7F7gS2SmfGuvOcbXKEdH6Fqrq9ei5Lez6+xO7bULa4PzH7t9AhZUcZ8+JEssfm6W3LELv9tddFe
7fQIXR+btiKVn5ywN/HEp8cb7ny2Vjs8QtesrS7/bebn+VbmzU6RFNuX9AhDJ0813JbUfWFj3Omy
M9qJEV6W58qoxY5PqWi3UDsows7Z+OWOrl+xZrZ2RISjXpPFVeng+lWmq3ZEhKlBxqlLhehTUrg7
UTsfwtTJcycdWvnIQYsvKQJXyJ0z2Illl51P106GsOb+ckdugJes/Kqjdiog1y3DIr4O5IpDzDfa
oQCfEfFLA7bWoGW5ksl/NqJFKHXJt0WBedX5u4xq7TTAfy7UjZWk2htbY8j5sZI5VjsJcLlokdSp
sc1/vu9H0AtmtXYK4Ep7veI+9n3znhu5r62kn9ZOAFxdtrkocuI6f/hzt98s3abx+05owVYPlNNl
1/N+8qQa6WmOam8buKakH36UCReLm/DI6Pp36v4k7uLN2nsGmqRk3wGpOFfs7+7VDU2X2W0GSOnR
n7X3CjRdsktK6o5LzpSVIr/86it4XsPXXTkitWOyJTL+jFQULdDeJnD9CqOlMOI3yYuPE/l9WqmU
T9wjf5h+8qcZKX3+4iMmEeQ6jhZJ6Fsjnc/GyIiNwyTx7wLtLYW8fwC0+CDNiZz9WAAAACV0RVh0
ZGF0ZTpjcmVhdGUAMjAxOS0wMS0yMVQxNDoyNDoxMi0wNzowMGUuxEkAAAAldEVYdGRhdGU6bW9k
aWZ5ADIwMTktMDEtMjFUMTQ6MjQ6MTItMDc6MDAUc3z1AAAAAElFTkSuQmCC" />
</svg>

</div>
<div class="container">
    <div class="icon-pos">
        <div class="row">


            <div class="col-lg-3 col-sm-6 col-8">
                <div class="work-icon text-center">
                    <img class="icon-service" src="../../../assets/images/globe.png">
                    <h2 class="work-head">PASSO 1</h2>
                    <p class="work-p">Donec posuere, libero in tincidunt consectetur, velit diam lacinia magna, ut dignissim ligula est at erat.</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-8">
                <div class="work-icon text-center">
                    <img class="icon-service" src="../../../assets/images/cart.png">
                    <h2 class="work-head padding-correction-head">PASSO 2</h2>
                    <p class="work-p padding-correction">Donec posuere, libero in tincidunt consectetur, velit diam lacinia magna, ut dignissim ligula est at erat.</p>
                </div>

            </div>
            <div class="col-lg-3 col-sm-6 col-8">
                <div class="work-icon text-center">
                    <img class="icon-service" src="../../../assets/images/like.png">
                    <h2 class="work-head padding-correction-head3">PASSO 3</h2>
                    <p class="work-p">Donec posuere, libero in tincidunt consectetur, velit diam lacinia magna, ut dignissim ligula est at erat.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-8">
                <div class="work-icon text-center">
                    <img class="icon-service" src="../../../assets/images/truck.png">
                    <h2 class="work-head padding-correction-head4">PASSO 4</h2>
                    <p class="work-p">Donec posuere, libero in tincidunt consectetur, velit diam lacinia magna, ut dignissim ligula est at erat.</p>
                </div>

            </div>

        </div>
                <div class="padding-btn text-center">
<button type="button" class="btn btn-leia-mais">LEIA MAIS</button>
    </div>
    </div>
</div>